<h3>NavigationMenu</h3>

<nav>
    <ul>
        <li><a href="/retrivealllanguages">Retrieve All Languages</a></li>
                <li><a href="/retrivetarnslatorswithcategories">Retrieve all Translators, their Ids, Language and FeeCategories</a></li>
                <li><a href="/createtask">Create Task</a></li>
                <li><a href="/retrievetasks">Retrieve List of my Tasks</a></li>
                <li><a href="/retrivesingletask">Retrieve Single Task</a></li>
                <li><a href="/updatesingletask">Update Single Task</a></li>
                <li><a href="/deletesingletask">Delete Single Task</a></li>
                <li><a href="/listoftranslators">Retrieve List of English, Russian and German Translators</a></li>
                <li><a href="/listofratedtarnslators">Retrieve Average Rating of all English, Russian and German Translators</a></li>
                <li><a href="/listoftranslatorexperience">Retrieve List of German Translators and their Total Experience in Years</a></li>
                <li><a href="/listoftranslatorsfee">Retrieve List of German Translators and their Fees</a></li>
                <li><a href="/retrievefees">Retrieve List of Fees</a></li>
                <li><a href="/createreview">Create Review</a></li>
        <!-- more links as needed -->
    </ul>
</nav>

@*@code {
    // C# code goes here
}*@
